.layout {
    color: var(--txt-color)
}

.layout_content {
    padding-right: var(--sidebar-width);
    background: var(--second-bg);
    min-height: 100vh
}

.layout_content-main{
    padding: 30px
}